.footer{
    margin-top: 1rem;
    padding: 1rem;
    position: static;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer p{
    display: flex;
    justify-content: center;
    align-items: center;
}