body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
#reset .container #reset-row #reset-column #reset-box {
    margin-top: 120px;
    max-width: 600px;
    height: 330px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    border-radius: 25px;

}
#reset .container #reset-row #reset-column #reset-box #reset-form {
    padding: 20px;
}
#reset .container #reset-row #reset-column #reset-box #reset-form #reset-link {
    margin-top: -85px;
}
#btn-submit{
    background-color: #17a2b8;
}